<!DOCTYPE html>
{#HTML file to display no routes possible page#}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route</title>
</head>

<style>
    #h{
        background-color:black;
        width: 100%;
        height:60%;
        border: 1px solid black;
    }
    h1{
        font-size: 4em;
        color:white;
        text-align: center;
        /* margin-right: 150; */
    }
</style>
    <section id="h">
            <h1>ROUTES</h1>
    </section>
    <br>
    <br>
    <h2 align="center">NO ROUTE POSSIBLE</h2>
<body>

</body>
</html>